CompileFlags:
  Add:
    [
      -xc++,
      -std=c++17,
      -Wall,
      "-DPRISM_DEBUG",
      "-I/home/yohan/Work/prism",
      "-I/home/yohan/snap/alacritty/common/.cache/bazel/_bazel_yohan/81fa93a9ef3bcfde498871c750052c53/execroot/_main/external/googletest+/googlemock/include/",
      "-I/home/yohan/snap/alacritty/common/.cache/bazel/_bazel_yohan/81fa93a9ef3bcfde498871c750052c53/execroot/_main/external/googletest+/googletest/include/",
      "-I/home/yohan/snap/alacritty/common/.cache/bazel/_bazel_yohan/81fa93a9ef3bcfde498871c750052c53/execroot/_main/external/rules_boost++non_module_dependencies+boost/libs/math/include",
      "-I/home/yohan/snap/alacritty/common/.cache/bazel/_bazel_yohan/81fa93a9ef3bcfde498871c750052c53/execroot/_main/external/rules_boost++non_module_dependencies+boost/libs/multiprecision/include",
      "-I/home/yohan/snap/alacritty/common/.cache/bazel/_bazel_yohan/81fa93a9ef3bcfde498871c750052c53/execroot/_main/external/rules_boost++non_module_dependencies+boost/libs/config/include",
      "-I/home/yohan/snap/alacritty/common/.cache/bazel/_bazel_yohan/81fa93a9ef3bcfde498871c750052c53/execroot/_main/external/+_repo_rules+hwy/",
    ]
Diagnostics:
  ClangTidy:
    Add:
      [
        performance-*,
        modernize-*,
        bugprone-*,
        clang-analyzer-*,
        concurrency-*,
        llvm-*,
        misc-*,
        cppcoreguidelines-*,
        hicpp-*,
      ]
