# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Bazel
bazel-*
.bazelrc

# VS Code
.vscode/

# autoconf
config.log
config.status
autom4te.cache
aclocal.m4
m4/**
autoconf
libtool
configure
configure.scan
config.*
install.sh
install/
